/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}


h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 100px;
  margin: 50px 0 20px;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
}

header {
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
  background-image: url(../img/banner-background.png);
  background-size: cover;
  padding: 30px 30px 140px;
}

main h2 {
  text-align: left;
  margin: 30px 0;
}

.special h2,
.special {
  text-align: right;
}

.dark-part {
  background-color: #EAE6E1;
}

a {
  text-decoration: none;
  margin-right: 30px;
}

.margin-lien {
  margin-bottom: 30px;
}

main {
  padding-top: 50px;
}

main a {
  display: block;
  text-align: left;
  margin: 30px 0 50px;
}